.single{
    display: flex;
    width: 100%;
}
.singleContainer{
    flex: 6
}
.title{
    color: gray;
}
.enquiryContainer{
    position: relative;
    padding: 15px;
}
.addButton{
    position: absolute;
    top: 15px;
    right: 20%;
    font-size: 20px;
    color: #7451f8;
    background-color: #7551f84b;
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
    padding: 2%;
}
.editButton{
    position: absolute;
    top: 15px;
    right: 2%;
    font-size: 20px;
    color: #7451f8;
    background-color: #7551f84b;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    padding-left: 5%;
}
.transferButton{
    position: absolute;
    top: 60px;
    right: 2%;
    font-size: 20px;
    color: #7451f8;
    background-color: #7551f84b;
    cursor: pointer;
    border-radius: 5px;
    width: 160px;
    border: none;
}
.deleteButton{
    font-size: 20px;
    color: #7451f8;
    background-color: #7551f84b;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    padding-left: 5%;
}
.detailContainer{
    display: flex;
    -webkit-box-shadow: -2px -5px 18px -8px #000000; 
    box-shadow: -2px -5px 18px -8px #000000;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px;
}
.detailItem{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.itemKey{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.formInput ul{
    margin-left: 0%;
}
.remarksHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.486);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.remarkValue{
    display: block;
    list-style: none;
}
.remarkValue:hover{
    background-color: transparent;
}
.remarksContainer{
    display: flex;
    -webkit-box-shadow: -2px -5px 18px -8px #000000; 
    box-shadow: -2px -5px 18px -8px #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 15px 40px 15px;
    
}
.remarksLeft{
    flex: 5;
}
.remarksRight{
    flex: 1;
}
@media (max-width: 768px){
   .title{
    font-size: 14px;
    width: fit-content;
    }
  .itemKey{
    font-size: 15px;
    overflow-x: scroll;
  }
  .itemKey span{
    font-size: 15px;
    margin: 0px;
  }
  .detailContainer{
    display: flex;
    padding: 5px;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 5px;
  }
  .remarkValue{
    font-size: 15px;
  }
  .remarksContainer{
    padding-left: 5px;
    padding-right: 28px;
  }
  .remarksLeft{
    flex: 3;
    font-size: 12px; 
     }
  .remarksRight{
    flex: 4;
    font-size: 12px; 
   }
  .addButton{
    left: 5%;
    top: 9%;
    font-size: 15px;
    width: fit-content;
   }
   .editButton{
    font-size: 18px;
    width: 100px;
    padding-left: 15%; 
   }
   .transferButton{
    font-size: 18px;
    width: 155px;
   }
}