.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    -webkit-box-shadow: -2px -5px 18px -8px #000000; 
    box-shadow: -2px -5px 18px -8px #000000;
    border-radius: 10px;
    height: 100px;
    
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-weight: bold;
    font-size: 14px;
    color: rgb(68, 68, 68);
}
.counter{
    font-size: 20px;
    font-weight: 300;
    color: rgb(68, 68, 68);
}
.link{
    cursor: pointer;
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}
.percentage{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.icon{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}
@media (max-width: 768px){
    .widget{
        display: flex;
        flex: 1;
        padding: 15px;
        justify-content: space-between;
        height: 60px;
        width: 30%;
    }
    .title{
        font-weight: bold;
        font-size: 10px;
    }
    .counter{
        font-size: 15px;
        font-weight: 300;
    }
    .icon{
        display: none !important;
    }
}