.sidebar{
    flex: 1;
    border-right:  0.5px solid rgb(241, 234, 234);
    min-height: 100vh;
    background-color: white;
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    padding-left: 10px;
}
.center ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: #6439ff;
}
hr{
    height: 0;
    border: 0.5px solid rgb(241, 234, 234);
}
.title{
    font-size: 15px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}
li{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover{
        background-color: #ece8ff;
    }
}
.icon{
    font-size: 18px;
    color: #7451f8;
}
span{
    font-size:18px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}
.mobileView{
    display: none;
}
.sidebarConatiner{
    display: none;
}

@media (max-width: 768px){
    .sidebar{
        transform: translateX(-100%);
        padding-right: 20px;
        border-right:  0.5px solid rgb(241, 234, 234);
        min-height: 100vh;
        background-color: #f0f0f0;
        position: fixed;
        z-index: 10;
    }
    .open{
        transform: translateX(0);
    }
    .mobileView{
        display: block;
    }
    .sidebarConatiner{ 
        position: absolute;
        top: 40%;
        right: -38%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: Center contents horizontally */
        justify-content: center; /* Optional: Center contents vertically */
        height: 10vw; /* Optional: Set the height to fill the viewport */
        width: fit-content;
        background-color: #f0f0f0;
        padding: 0% 20px;
        border: 0px solid #ccc;
        border-radius: 10px;
        transform: rotate(90deg);
     }
     .panelText{
        margin: 0;
     }
}