.table{
}
.sold{
    width: 20px;
    padding: 5px;
    border-radius: 5px;
    color: green;
    background-color: rgba(0, 128, 0, 0.158);
}
.active{
    padding: 5px;
    border-radius: 5px;
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}
.closed{
    padding: 5px;
    border-radius: 5px;
    color: red;
    background-color: rgba(255, 0, 0, 0.151);
}
.tableCell{
    padding: 10px !important;
    font-size: 12px !important;
}
.tableHead{
    font-weight: bold !important;
}